<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ranzhi" verbose="1" preserve-order="true">
	<listeners>
		<!-- testng的XML配置文件中添加这些内容 -->
		<!--<listener class-name="org.uncommons.reportng.HTMLReporter" />-->
		<!--<listener-->
			<!--class-name="org.uncommons.reportng.JUnitXMLReporter" />-->
		<listener class-name="com.utils.WebTestListener"></listener>
	</listeners>
	<test name="test1" preserve-order="true">
		<classes>
			<class name="com.testcases.youjiLoginTest"></class>
			<!--<class name="com.testcases.PersonalCenterPageTest"></class>
			<class name="com.testcases.CollectionPageTest"></class>
			<class name="com.testcases.FirstPageTest"></class>-->
		</classes>
	</test>
	<test name="test2">
		<classes>
			<class name="com.testcases.PersonalCenterPageTest"></class>
		</classes>
	</test>
	<test name="test3">
		<classes>
			<class name="com.testcases.CollectionPageTest"></class>
		</classes>
	</test>
	<test name="test4">
		<classes>
			<class name="com.testcases.FirstPageTest"></class>
		</classes>
	</test>
</suite>